<style>
  .naviguation{
    margin: 10px;
    padding: 10px;
  }
  .naviguation:hover{
    text-decoration: none;
  }

</style>

<section>
<div style="background-color: #151d60;">
  <ul style="display:flex; flex-direction:row;list-style-type:none;border-bottom: 1px solid white;">
    <li><a href="" class="text-light naviguation ">Home</a></li>
    <li><a href="" class="text-light naviguation ">Shop</a></li>
    <li><a href="" class="text-light naviguation ">About</a></li>
    <li><a href="" class="text-light naviguation ">Contact</a></li>
  </ul>
</div>

<div style="background-color: #151d60;">
  <nav class="nav navbar navbar-custom">
    <ul>
      <img src="" alt="">
    </ul>
  </nav>
</div>

</section>